.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    background-color: white;
    border-right-width: 1px; 
    border-right-color: rgb(228, 228, 228);
    border-right-style: solid;
    z-index: 200;
    padding-top: 4px;

}

.sidebar-link{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(231, 231, 231);

}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;

}